<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title_block %}JaySoft:OCR{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/appcss.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <div class="container-fluid header">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-7">
                        <a href="/" class="normal-link">
                            <h1>
                                <img style="padding:2px;" src="{{ url_for('static', filename='images/logo.png')}}" alt="logo"/>
                                JaySoft-OCR
                            </h1>
                        </a>
                    </div>
                    <div class="col-sm-5">
                        <div class="d-flex align-items-center" style="padding:3%">
                            <p class="text-center">
                                <i>
                                    "Get text from pictures easily. Our app makes it simple to extract words from images."
                                </i>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% block body_block %}
        <div style="flex:1">
            <div class="d-flex flex-column align-items-center" style="padding:10%">
                <p class="text-center">
                    <i>
                        "Our simple OCR web app quickly reads text from images. Just upload your picture, and our advanced technology does the rest. Whether it's printed documents, images with text, or scanned files, our app handles it all effortlessly. No more manual typing or data entry—our powerful OCR engine ensures accurate and reliable results every time. Say goodbye to tedious tasks and hello to streamlined document processing. With our user-friendly platform, digitizing text has never been easier. Experience the convenience of our OCR web app today!"
                    </i>
                </p>
                <a class="btn btn-primary" href={{ url_for('ImageProcess') }}>
                    Upload Image
                </a>
            </div>            
        </div>
        {% endblock %}
        <div  class="container-fluid footer text-center">
            <h3>Connect with Us</h3>
            <h4 class="text-center">
                <a class="btn btn-success" href="#" target="_blank">Facebook</a>
                <a class="btn btn-success" href="#" target="_blank">Twitter</a>
                <a class="btn btn-success" href="#" target="_blank">LinkedIn</a>
            </h4>
        </div>
        <script src="{{ url_for('static', filename='js/appjs.js')}}" async defer></script>
    </body>
</html>